/* MainStyles.css */

.main-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 25px;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 25px;
}

.auth-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 550px;
  margin-top: 25px;
}

@media (max-width: 768px) {
  .auth-section {
    flex-direction: column;
    align-items: center;
  }
}

/* Logo Styling */
.logo {
  position: absolute;
  top: 15px;
  right: 15px;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* src/components/Cover.css */
.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.cover-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 20px;
}
