.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

.brand-logo {
    font-weight: bold;
    font-size: 20px;
    color: #444;
    white-space: nowrap;
    margin-right: 20px;
}

.search-bar {
    flex-grow: 2;
    padding: 10px 18px;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 800px;
}

.search-input {
    width: 60%;
    padding: 8px;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    font-size: 16px;
    background-color: transparent;
    color: #444;
    outline: none;
    
}

.search-input::placeholder {
    color: #a1a1a1;
}

.action-buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.login-button {
    padding: 10px 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.signup-button {
    padding: 10px 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.logout-button {
    padding: 10px 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.welcome-message {
    background-color: #e7e5a5;
    text-decoration: underline;
}
button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 18px;
}

body {
    padding-top: 60px;
}

@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }

    .search-bar {
        order: 3;
        width: 100%;
        margin: 12px 0 0 0;
        max-width: none;
    }

    .brand-logo {
        order: 1;
        margin-right: 0;
    }

    .action-buttons {
        order: 2;
    }

    body {
        padding-top: 100px;
    }
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 12px;
  }
  